{% extends "howifeel/base.html" %}

{% block subtitle %}home{% endblock %}

{% block content %}
	Hello, {{ user.username }}
<br><br>
	<a href="list_entries/">List entries</a>
	<br><br>

	<a href="add_entry/">Add entry</a>
	<br><br>
	
	Occasionally back up database by copying it to static
	<pre>
	  How to backup:

	  1. log in to pythonanywhere.com with heitor
	  2. open a terminal
	  3. cd ~/heitorpyany/
	  4. cp db.sqlite3 static/howifeel/css/dbDATE_YEAR_MONTH_DAY.sqlite3
	  5. navigate to http://heitor.pythonanywhere.com/static/howifeel/css/dbDATE.sqlite3
	</pre>
	
{% endblock %}
